mediola:
  - host: 192.168.18.127
    password:
    id: mediola1
  - host: 192.168.18.157
    password:
    id: mediola2

mqtt:
  host: homeassistant.lan
  port: 1883
  username: 
  password: 
  discovery_prefix: homeassistant
  topic: mediola
  debug: false

buttons:
  - type: IT
    adr: 3d5e00
    mediola: mediola1
  - type: IT
    adr: 4de600
    mediola: mediola1

blinds:
  - type: RT
    adr: 5a25d5
    name: Bad 1
    mediola: mediola1
  - type: RT
    adr: 129a3a
    name: Bad 2
    mediola: mediola1
  - type: RT
    adr: c36a8a
    name: Diele
    mediola: mediola1
  - type: RT
    adr: f6eba5
    name: Stiegenhaus
    mediola: mediola1
  - type: ER
    adr: "01"
    name: Essbereich Nord
    mediola: mediola2
  - type: ER
    adr: "02"
    name: Essbereich Süd
    mediola: mediola2
  - type: ER
    adr: "03"
    name: Kinderzimmer
    mediola: mediola2
  - type: ER
    adr: "04"
    name: Schlafzimmer Rechts
    mediola: mediola2
  - type: ER
    adr: "05"
    name: Schlafzimmer Mitte
    mediola: mediola2
  - type: ER
    adr: "06"
    name: Schlafzimmer Links
    mediola: mediola2
