[Unit]
Description=mediola2mqtt
Wants=mosquitto.service
After=network.target mosquitto.service
StartLimitIntervalSec=0

[Service]
User=mediola2mqtt
Group=mediola2mqtt
WorkingDirectory=/opt/mediola2mqtt
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/mediola2mqtt/mediola2mqtt.py
Restart=always
RestartSec=10
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
